/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    background-color: antiquewhite;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
    width: 6px !important;
    background-color: antiquewhite !important;
}

body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .26) !important;
    border-radius: 10px !important;
}

.pointer {
    cursor: pointer;
}

/* margin 0.8 rem */

.mrg4 {
    margin: 0.4rem !important;
}

.mrg4-T {
    margin-top: 0.4rem !important;
}

.mrg4-B {
    margin-bottom: 0.4rem !important;
}

.mrg4-TB {
    margin-top: 0.4rem !important;
    margin-bottom: 0.4rem !important;
}

.mrg4-L {
    margin-left: 0.4rem !important;
}

.mrg4-R {
    margin-right: 0.4rem !important;
}

.mrg4-LR {
    margin-left: 0.4rem !important;
    margin-right: 0.4rem !important;
}

/* margin 0.8 rem */

.mrg8 {
    margin: 0.8rem !important;
}

.mrg8-T {
    margin-top: 0.8rem !important;
}

.mrg8-B {
    margin-bottom: 0.8rem !important;
}

.mrg8-TB {
    margin-top: 0.8rem !important;
    margin-bottom: 0.8rem !important;
}

.mrg8-L {
    margin-left: 0.8rem !important;
}

.mrg8-R {
    margin-right: 0.8rem !important;
}

.mrg8-LR {
    margin-left: 0.8rem !important;
    margin-right: 0.8rem !important;
}

/* margin 1.6 rem */

.mrg16 {
    margin: 1.6rem !important;
}

.mrg16-T {
    margin-top: 1.6rem !important;
}

.mrg16-B {
    margin-bottom: 1.6rem !important;
}

.mrg16-TB {
    margin-top: 1.6rem !important;
    margin-bottom: 1.6rem !important;
}

.mrg16-L {
    margin-left: 1.6rem !important;
}

.mrg16-R {
    margin-right: 1.6rem !important;
}

.mrg16-LR {
    margin-left: 1.6rem !important;
    margin-right: 1.6rem !important;
}

/* margin 3.2 rem */

.mrg32 {
    margin: 3.2rem !important;
}

.mrg32-T {
    margin-top: 3.2rem !important;
}

.mrg32-B {
    margin-bottom: 3.2rem !important;
}

.mrg32-TB {
    margin-top: 3.2rem !important;
    margin-bottom: 3.2rem !important;
}

.mrg32-L {
    margin-left: 3.2rem !important;
}

.mrg32-R {
    margin-right: 3.2rem !important;
}

.mrg32-LR {
    margin-left: 3.2rem !important;
    margin-right: 3.2rem !important;
}

/* margin 2.4 rem */

.mrg24 {
    margin: 2.4rem !important;
}

.mrg24-T {
    margin-top: 2.4rem !important;
}

.mrg24-B {
    margin-bottom: 2.4rem !important;
}

.mrg24-TB {
    margin-top: 2.4rem !important;
    margin-bottom: 2.4rem !important;
}

.mrg24-L {
    margin-left: 2.4rem !important;
}

.mrg24-R {
    margin-right: 2.4rem !important;
}

.mrg24-LR {
    margin-left: 2.4rem !important;
    margin-right: 2.4rem !important;
}

/* padding 0.4 rem */

.pd4 {
    padding: 0.4rem !important;
}

.pd4-T {
    padding-top: 0.4rem !important;
}

.pd4-B {
    padding-bottom: 0.4rem !important;
}

.pd4-TB {
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
}

.pd4-L {
    padding-left: 0.4rem !important;
}

.pd4-R {
    padding-right: 0.4rem !important;
}

.pd4-LR {
    padding-left: 0.4rem !important;
    padding-right: 0.4rem !important;
}

/* padding 0.8 rem */

.pd8 {
    padding: 0.8rem !important;
}

.pd8-T {
    padding-top: 0.8rem !important;
}

.pd8-B {
    padding-bottom: 0.8rem !important;
}

.pd8-TB {
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;
}

.pd8-L {
    padding-left: 0.8rem !important;
}

.pd8-R {
    padding-right: 0.8rem !important;
}

.pd8-LR {
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
}

/* padding 1.6 rem */

.pd16 {
    padding: 1.6rem !important;
}

.pd16-T {
    padding-top: 1.6rem !important;
}

.pd16-B {
    padding-bottom: 1.6rem !important;
}

.pd16-TB {
    padding-top: 1.6rem !important;
    padding-bottom: 1.6rem !important;
}

.pd16-L {
    padding-left: 1.6rem !important;
}

.pd16-R {
    padding-right: 1.6rem !important;
}

.pd16-LR {
    padding-left: 1.6rem !important;
    padding-right: 1.6rem !important;
}

/* padding 2.4 rem */

.pd24 {
    padding: 2.4rem !important;
}

.pd24-T {
    padding-top: 2.4rem !important;
}

.pd24-B {
    padding-bottom: 2.4rem !important;
}

.pd24-TB {
    padding-top: 2.4rem !important;
    padding-bottom: 2.4rem !important;
}

.pd24-L {
    padding-left: 2.4rem !important;
}

.pd24-R {
    padding-right: 2.4rem !important;
}

.pd24-LR {
    padding-left: 2.4rem !important;
    padding-right: 2.4rem !important;
}

/* padding 3.2 rem */

.pd32 {
    padding: 3.2rem !important;
}

.pd32-T {
    padding-top: 3.2rem !important;
}

.pd32-B {
    padding-bottom: 3.2rem !important;
}

.pd32-TB {
    padding-top: 3.2rem !important;
    padding-bottom: 3.2rem !important;
}

.pd32-L {
    padding-left: 3.2rem !important;
}

.pd32-R {
    padding-right: 3.2rem !important;
}

.pd32-LR {
    padding-left: 3.2rem !important;
    padding-right: 3.2rem !important;
}

/* Font Weight */

.fw-100 {
    font-weight: 100 !important;
}

.fw-200 {
    font-weight: 200 !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-900 {
    font-weight: 900 !important;
}