<div fxLayout="column" class="pd16" fxFlex>
    <div fxLayout="column" fxFlex [formGroup]="locationForm">

        <div fxLayout="column" class="pd16-B" fxFlex=50>
            <mat-form-field>
                <mat-label>Location Name</mat-label>
                <input matInput type="text" name="name" formControlName="name">
                <button mat-button *ngIf="locationForm['controls']['name'].value" matSuffix mat-icon-button
                    aria-label="Clear" (click)="locationForm['controls']['name'].setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="locationForm['controls']['name'].hasError('required')">
                    name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="column" class="pd16-B" fxFlex=50>
            <mat-form-field>
                <mat-label>Location Description</mat-label>
                <input matInput type="text" name="name" formControlName="description">
                <button mat-button *ngIf="locationForm['controls']['description'].value" matSuffix mat-icon-button
                    aria-label="Clear" (click)="locationForm['controls']['description'].setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div fxLayout="column" class="pd16-B">
            <button mat-flat-button color="primary" class="mrg8-R"
                (click)="validate()?addlocation():warning()">Add</button>
            <button mat-stroked-button color="primary" (click)="close()">close</button>
        </div>

    </div>
</div>